:root{
  --black: #000;
  --brown: #C5A173;
  --chocolate: #6D4622;
  --white: #fff;
  --light-brown: rgba(197, 161, 115, 0.58);
  --gray: #D9D9D9;
  --space-gray: #999999;
}

body{
  font-family: 'Times New Roman', Times, serif;
}

a{
  text-decoration: none;
}

.entranceBox{
  position: absolute;
  width: 886px;
  height: 476px;
  left: calc(50% - 886px/2);
  top: calc(50% - 476px/2);
  
  background: var(--black);
  box-shadow: 0px 2px 39px 1px var(--black), 0px 4px 27px 30px var(--brown);
}

.entranceBoxName{
  position: absolute;
  width: 498px;
  height: 73px;
  left: calc(50% - 498px/2 - 12px);
  top: calc(50% - 73px/2 - 150.5px);

  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 77px;
  text-align: center;

  color: var(--brown);
}

#email{
  position: absolute;
  width: 695px;
  height: 60px;
  left: calc(50% - 695px/2 + 10.5px);
  top: calc(50% - 60px/2 - 24px);

  background: var(--brown);
  border: none;
}

#email::placeholder{
  position: absolute;
  left: 15px;
  top: 12px;
  font-size: 32px;
  color: var(--black);
}

#password{
  position: absolute;
  width: 695px;
  height: 60px;
  left: calc(50% - 695px/2 + 10.5px);
  top: calc(50% - 60px/2 + 74px);
  
  background: var(--brown);
  border: none;
}

#password::placeholder{
  position: absolute;
  left: 15px;
  top: 12px;
  font-size: 32px;
  color: var(--black);
}

.buttonLogIn{
  text-align: center;
  font-size: 32px;
  box-sizing: border-box;

  position: absolute;
  width: 300px;
  height: 59px;
  left: calc(50% - 300px/2 - 2px);
  top: calc(50% - 59px/2 + 173.5px);

  background: var(--brown);
  border: 3px solid var(--chocolate);
}

.buttonLogIn:hover{
  background-color: var(--chocolate);
}

.roseOne{
  position: absolute;
  width: 673px;
  height: 620px;
  left: -60px;
  top: -62px;

  background: url(../images/roseOne.png);
  background-repeat: no-repeat;
}


.roseTwo{
  position: absolute;
  width: 451px;
  height: 403px;
  left: 684px;
  top: -55px;
  z-index: 1;

  background: url(../images/roseTwo.png);
  background-repeat: no-repeat;
}

.roseThree{
  position: absolute;
  width: 173.35px;
  height: 153.67px;
  left: 529px;
  top: 50.82px;
  z-index: -1;

  background: url(../images/roseThree.png);
  transform: rotate(-11.92deg);
}

.roseFour{
  position: absolute;
  width: 200px;
  height: 200px;
  left: 1200.28px;
  top: 408px;

  background: url(../images/roseThree.png);
  transform: rotate(65.96deg);
  background-repeat: no-repeat;
}

.roseFive{
  position: absolute;
  width: 421.94px;
  height: 451.61px;
  right: 0px;
  top: 0px;
  z-index: -1;

  background: url(../images/roseFive.png);
  background-position:center center;
  background-size:cover;
  background-repeat: no-repeat ;
}

.roseSix{
  position: absolute;
  width: 409px;
  height: 472px;
  right: 0px;
  bottom: 0px;

  background: url(../images/roseSix.png);
  background-repeat: no-repeat;
}

.roseSeven{
  position: absolute;
  width: 400px;
  height: 350px;
  left: 55%;
  top: 50%;
  z-index: -1;

  background: url(../images/roseSeven.png);
  background-repeat: no-repeat;
  transform: rotate(0deg);
}

.roseEight{
  position: absolute;
  width: 200px;
  height: 180px;
  left: 30%;
  bottom: 0%;
  z-index: 1;

  background: url(../images/roseEight.png);
  transform: rotate(0.71deg);
}

.roseNine{
  position: absolute;
  width: 409px;
  height: 472px;
  left: 0px;
  bottom: 0px;

  background: url(../images/roseSix.png);
  background-repeat: no-repeat;
  transform: rotate(47.02deg);
}

.roseTen{
  position: absolute;
  width: 200px;
  height: 180px;
  left: -40px;
  top: 42%;
  z-index: -1;
  
  background: url(../images/roseEight.png);
  transform: rotate(55.13deg);
}