#services{
    position: absolute;
    top: 46%;
    left: 7.5%;

    width: 86%;
    height: 100px;
}

.containerServices{
    position: relative;
    float: left;
    width: 100%;
    height: 150px;

    background-color: var(--light-brown);
    border: 1px solid var(--black);
    box-sizing: border-box;

    margin-bottom: 30px;
}

.textServices{
    position: absolute;
    width: 90%;
    left: 2%;
    bottom: 5%;

    font-size: 32px;
    font-weight: 700;
    color: var(--black);
    word-wrap: break-word;
}