.header{
    position: fixed;
    top: 0%;
    left: 0%;

    width: 100%;
    height: 95px;

    background-color: var(--black); 
    box-sizing: border-box;

    z-index: 1;
}

.header ul{
    position: absolute;
    top: 10%;
    left: 40%;

    list-style-type: none;
}

.header ul li{
    display: inline-block;
    margin-right: 60px;
    font-size: 32px;
}

.header ul li a{
    color: var(--brown);
}

.header ul li a:hover{
    color: var(--chocolate);
}

.exit{
    position: fixed;
    top: 3.5%;
    right: 5%;

    font-size: 32px;
    text-decoration: none;
    color: var(--brown);
}

.exit:hover{
    color: var(--chocolate);
}


.menuStorage ul{
    position: absolute;
    top: 20%;
    left: 5%;

    list-style-type: none;
}

.menuStorage ul li{
    display: inline-block;
    text-decoration: underline var(--black);
    margin-right: 60px;
    font-size: 32px;
}

.menuStorage ul li a{
    color: var(--chocolate);
}

.menuStorage ul li a:hover{
    color: var(--black);
}

.title{
    font-size: 48px;
    font-weight: 700;

    position: absolute;
    top: 33%;
    left: 7.5%;
    color: var(--chocolate);
}

#products{
    position: absolute;
    top: 46%;
    left: 7.5%;

    width: 86%;
    height: 100px;
}

.containerProduct{
    position: relative;
    float: left;
    width: 32%;
    height: 420px;

    background-color: var(--light-brown);
    border: 1px solid var(--black);
    box-sizing: border-box;

    margin-right: 1%;
    margin-bottom: 60px;
}

.textProduct{
    position: absolute;
    width: 90%;
    left: 2%;
    bottom: 5%;

    font-size: 32px;
    font-weight: 700;
    color: var(--black);
    word-wrap: break-word;
}