.header{
    position: fixed;
    top: 0%;
    left: 0%;

    width: 100%;
    height: 95px;

    background-color: var(--black); 
    box-sizing: border-box;

    z-index: 1;
}

.header ul{
    position: absolute;
    top: 10%;
    left: 40%;

    list-style-type: none;
}

.header ul li{
    display: inline-block;
    margin-right: 60px;
    font-size: 32px;
}

.header ul li a{
    color: var(--brown);
}

.header ul li a:hover{
    color: var(--chocolate);
}

.exit{
    position: fixed;
    top: 3.5%;
    right: 5%;

    font-size: 32px;
    text-decoration: none;
    color: var(--brown);
}

.exit:hover{
    color: var(--chocolate);
}


.menuStorage ul{
    position: absolute;
    top: 20%;
    left: 5%;

    list-style-type: none;
}

.menuStorage ul li{
    display: inline-block;
    text-decoration: underline var(--black);
    margin-right: 60px;
    font-size: 32px;
}

.menuStorage ul li a{
    color: var(--chocolate);
}

.menuStorage ul li a:hover{
    color: var(--black);
}

.title{
    font-size: 48px;
    font-weight: 700;

    position: absolute;
    top: 33%;
    left: 7.5%;
    color: var(--chocolate);
}

#products{
    position: absolute;
    top: 46%;
    left: 7.5%;

    width: 86%;
    height: 100px;
}

.containerProduct{
    position: relative;
    float: left;
    width: 32%;
    height: 420px;

    background-color: var(--light-brown);
    border: 1px solid var(--black);
    box-sizing: border-box;

    margin-right: 1%;
    margin-bottom: 60px;
}

.textProduct{
    position: absolute;
    width: 90%;
    left: 2%;
    bottom: 5%;

    font-size: 32px;
    font-weight: 700;
    color: var(--black);
    word-wrap: break-word;
}

.deleteProduct{
    position: absolute !important;
    font-size: 40px !important;
    text-align: center !important;
    /* content: "\00d7"; */
    top: 0% !important;
    right: 5% !important;
    width: 5% !important;
    height: 5% !important;
    background-color: transparent !important;
    opacity: 80% !important;
    border: none !important;
    color: black !important;
    z-index: 5;
    /* margin: auto !important; */
}

.deleteProduct:hover{
    color: white !important;
}

.addPr{
    position: absolute;
    top: 34%;
    left: 23%;

    border: none;
    background-color: var(--brown);
    color: var(--black);

    width: 5%;
    height: 5%;
    font-size: 32px;
}

.addPr:hover{
    color: white;
    background-color: black;
}

#formAdd {
    display: none;
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-name: fadeIn;

    position:absolute;
    width: 40%;
    height: 50%;
    top: 30%;
    left: 30%;

    background-color: black;
    color: white;

    border: none;
    font-size: 32px;
  }
  
#formAdd.open {
    display: block;
    z-index: 1;
}
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

form{
    padding: 10%;
}

input{
    border: none;
    font-size: 32px;
    margin-bottom: 5%;
}

.btnAdd{
    position: absolute;
    bottom: 5%;
    right: 8%;

    border: none;
    font-size: 20px;
    width: 20%;
    height: 10%;
}