#services{
    position: absolute;
    top: 46%;
    left: 7.5%;

    width: 86%;
    height: 100px;
}

.containerServices{
    float: left;
    width: 100%;
    height: 275px;

    background-color: var(--brown);
    border: 1px solid var(--black);
    box-sizing: border-box;
    opacity: 60%;

    margin-bottom: 60px;
}